{# templates/food/_foods.html.twig #}
<h3>Available foods</h3>
<div class="input-group mb-3">
    <input type="text"
           name="q"
           class="form-control"
           value="{{ app.request.query.get('q') }}"
           placeholder="Search..."
           >
    <div class="input-group-append">
        <button type="submit"
                class="btn btn-outline-secondary">
            <span class="fa fa-search"></span>
            Search
        </button>
    </div>
</div>

{% if pagination is not empty %}
    <table class="table">
        <thead>
            <tr>
                <th>Click name to add to meal</th>
            </tr>
        </thead>
        <tbody>
            {% for food in pagination %}
                <tr>
                    <td data-foodid={{ food.id }}>{{ food.foodName }}</td>
               </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endif %}