{% extends 'base.html.twig' %}

{% block title %}New food{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <h1>Add new food</h1>

            {{ include('food/_form.html.twig') }}
            <a href="{{ path('app_food_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
