{% extends 'base.html.twig' %}

{% block title %}Di's Gut Monitor{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">
            Add a meal
        </div>
        <div class="col-4"></div>
    </div>
    <div class="col-4">
        {{ component('random_number') }}
    </div>
{% endblock %}
