{% extends 'base.html.twig' %}

{% block title %}Food Vectors{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-4">
            <h4>Food vectors at {{ delay  }} days of delay</h4>
            {% for reaction, foods in vectors %}
                The most likely food vectors  for <span class="text-primary">{{ reaction }}</span> are:
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Weight</th>
                        </tr>                    
                    </thead>
                    {% for name,weight in foods %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ weight }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
            (Weight is food most common four days before malady occurrence)
        </div>
    </div>
{% endblock %}