{# templates/components/random_number.html.twig #}
<div {{ attributes }}>
    <input
        type="number"
        value="{{ max }}"
        data-model="on(change)|max"
        ><br />
    <button data-action="live#$render">Generate a new number!</button><br />
    <button
        data-action="live#action"
        data-action-name="resetMax"
        >Reset Min/Max</button><br />
    <strong>{{ this.randomNumber }}</strong>
</div>